@import "./variables.scss";

*{
    margin: 0;
}

p {
    font-family: $font-family;
}

.confirmCard {
    border: 2px solid #454545;
    padding: 20px;
    background-color: #161616;
    max-width: 750px;
    margin-top: 30px;
    
}

.imageContainer {
    text-align: center;
    margin-bottom: 10px;
}

.imageContainer img {
    width: 100%;
}

.cardTitle {
    font-size: 28px;
    color: white;
}

.orderInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    font-size: 14px;
}

.orderNumber {
    color: white;
}

.footerText {
    margin-top: 20px;
    font-size: 14px;
    color: white;
}