.confirmSendingPage {
    background-color: #161616;
    min-height: 100vh;
    padding: 20px;
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .content {
    display: flex;
  }
  
  .cardContainer {

  }
  