$primary-color: #7921D1;
$secondary-color: #A852FF;
$background-color: #161616;
$text-color: #fff;
$font-family: "SF Pro Display", sans-serif;

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/sfprodisplay-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}